* {
    box-sizing: border-box;
    margin: 5px;
}

body{
    margin: 0px;
    background-color: #ffffff;
    font-family: 'Trispace';
}

button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #a42b3e;
    border-radius: 6px;
    border: 2px solid #e0434f;
}

button:hover {
    color: #a42b3e;
    background-color: #ffffff;
}

.page-nav { /*Titulo*/
    font-family: 'Sofia';
    background-color: #e0434f;
    height: auto;
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-cantidades {
    display: flex;
    justify-content: space-between;
}

.section-cantidades h2 {
    font-family: 'Sofia';
    font-size: 30px;
    padding: 15px;
}

.section-sab {
    border-radius: 50px 0px 0px 50px;
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #e0434f;
}
.section-sabores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.contenedor-sabores { /*Productos*/
    text-align: center;
    border-radius: 25px;
    margin: 15px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    min-height: 250px;
}

.contenedor-sabores:hover {
    background-color: #ffffffbb;
}

.contenedor-sabores img {
    border-radius: 15px;
    width: 200px;
}

.section-dec {
    border-radius: 0px 50px 50px 0px;
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #e0434f;
}

.section-decoraciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.contenedor-decoraciones { /*Decoraciones*/
    text-align: center;
    border-radius: 25px;
    margin: 15px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.contenedor-decoraciones:hover {
    background-color: #ffffffbb;
}

.contenedor-decoraciones img {
    border-radius: 15px;
    width: 200px;
}

/*Sección Dashboard*/

.section-dash {
    background-color: #e0434f;
    border-radius: 50px;
    display: grid;
    place-content: center;
    text-align: center;
}

.section-dash  h2{
    font-family: 'Sofia';
    font-size: 45px;
    padding: 15px;
}

.section-dashpedidos {
    background-color: #e0434f;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    height: 500px;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section-dashpedidos hr{
    background-color: #a42b3e;
    height: 5px;
    border-radius: 25px;
    border-color: #a42b3e;
}

.section-dashpedidos::-webkit-scrollbar {
	width: 12px;
    border-radius: 10px;
}

.section-dashpedidos::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a42b3e;
}

.contenedor-pedido {
    margin: 15px;
    padding: 2px 16px;
    border-radius: 30px;
    position: relative;
    box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.1);
    background-color: #e0434f;
    scroll-snap-align: center;
}

.contenedor-pedido:hover {
    background-color: #e04350bb;
}

.contenedor-pedido h2 {
    font-family: 'Sofia';
    font-size: 30px;
    padding: 15px;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #a42b3e;
    border-radius: 6px;
    border: 2px solid #e0434f;
}

.btn:hover {
    color: #a42b3e;
    background-color: #ffffff;
}

.footer {    
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #e0434f;
}

.table-footer {
    border-collapse: separate;
    border-spacing: 100px 0px;
}

.tr-footer th {
    font-size: 25px;
}

.tr-footer th, .tr-footer td{
    border-style: none;
}